#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.intro--banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.intro--banner h1 {
  font-size: 3rem;
}

canvas {
  outline: none;
}
.work,
.work--lockup,
.slider {
  height: 100%;
}
.work--lockup {
  display: flex;
  width: 100%;
  align-items: center;
}
.blur-ambient {
  font-size: 14px;
  line-height: 1.6;
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  visibility: visible;
  -webkit-box-direction: normal;
  list-style: none;
  text-align: center;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  filter: blur(120px);
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: ambient;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.blur-inferno {
  font-size: 14px;
  line-height: 1.6;
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  visibility: visible;
  -webkit-box-direction: normal;
  list-style: none;
  text-align: center;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  filter: blur(120px);
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: inferno;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.blur-yellow {
  font-size: 14px;
  line-height: 1.6;
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  visibility: visible;
  -webkit-box-direction: normal;
  list-style: none;
  text-align: center;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  filter: blur(120px);
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: yellow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ambient {
  0% {
    background: radial-gradient(#ffffff 0%, #6284ff 50%, #ff0000 100%);
    filter: blur(90px);
    opacity: 0.5;
    height: 50%;
    width: 50%;
  }
  50% {
    background: radial-gradient(#ffffff 0%, #6284ff 50%, #ff0000 100%);
    filter: blur(110px);
    opacity: 1;
    height: 60%;
    width: 60%;
  }
  100% {
    background: radial-gradient(#ffffff 0%, #6284ff 50%, #ff0000 100%);
    filter: blur(90px);
    opacity: 0.5;
    height: 50%;
    width: 50%;
  }
}

@keyframes inferno {
  0% {
    background-color: lightcoral;
    filter: blur(90px);
    opacity: 0.5;
    height: 50%;
    width: 50%;
  }
  50% {
    background-color: red;
    filter: blur(110px);
    opacity: 1;
    height: 60%;
    width: 60%;
  }
  100% {
    background-color: lightcoral;
    filter: blur(90px);
    opacity: 0.5;
    height: 50%;
    width: 50%;
  }
}

@keyframes yellow {
  0% {
    background-color: yellowgreen;
    filter: blur(90px);
    opacity: 0.5;
    height: 50%;
    width: 50%;
  }
  50% {
    background-color: orange;
    filter: blur(110px);
    opacity: 1;
    height: 60%;
    width: 60%;
  }
  100% {
    background-color: yellowgreen;
    filter: blur(90px);
    opacity: 0.5;
    height: 50%;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .intro {
    flex-direction: column;
  }
  .work {
    height: 50%;
    width: 100%;
  }
  .intro--banner {
    height: 50%;
  }
  .work--lockup .slider {
    width: 100%;
  }
  .intro--banner h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
.active {
  display: block !important;
}
.hidden {
  display: none !important;
}
