@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"),
    url("fonts/Montserrat-Black.ttf") format("truetype"),
    url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.ttf") format("truetype"),
    url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"),
    url("fonts/Montserrat-Regular.ttf") format("truetype"),
    url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"),
    url("fonts/Montserrat-Light.ttf") format("truetype"),
    url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
} /*! normalize.css v3.0.2 | MIT License | git.io/normalize */

* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
}
h2 {
  position: relative;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
  color: white;
}

h4 {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  z-index: 1;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.54);
}

p {
  color: rgba(255, 255, 255, 1);
  line-height: 1.55;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#mySlider {
  width: 100%;
}

#myCarousel .list-inline {
  white-space: nowrap;
  overflow-x: auto;
}

#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
  margin-bottom: 0;
  border: none !important;
  background-color: #783901;
}

#myCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
  opacity: 0.6;
}

#myCarousel .carousel-indicators > li.active {
  width: initial;
  height: initial;
  text-indent: initial;
  opacity: 1;
}

#myCarousel .carousel-control-next,
#myCarousel .carousel-control-prev {
  top: 50%;
  bottom: 50%;
  width: 50px;
  height: 50px;
  background: #783901;
  opacity: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCarousel .carousel-control-next {
  right: 1rem;
}

#myCarousel .carousel-control-prev {
  left: 1rem;
}

#homeLink {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: bottom 0.2s ease-in-out, left 0.2s ease-in-out;
  transition: bottom 0.2s ease-in-out, left 0.2s ease-in-out;
  text-decoration: none;
  color: white;
  margin: 16px;
}

#homeLink svg {
  position: relative;
  margin-right: 5px;
  width: 16px;
  fill: #fff;
}

.list-inline-item {
  width: 100% !important;
}

.list-inline-item a {
  width: 100% !important;
}

.list-inline-item img {
  width: 100% !important;
  height: 100% !important;
}
